
@model WebShop.Models.ForgotPasswordConfirmationViewModel

@{
    ViewBag.Title = Model["Forgot Password Confirmation"];
}
<div class="col-2"></div>
<div class="col-8">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @Model["Please Check Your Email To Reset Your Password"]
        </p>
    </div>

</div>
<div class="col-2"></div>